#root {
  max-width: 80rem; /* about 1280px on PC */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-list {
  min-width: 30em;
  width: 100%;
}
.card-list tr:nth-child(even) {
  background-color: #38444d;
}

.card {
  padding: 2em;
}

.wave-command-grid {
  min-width: 30em;
  aspect-ratio: 1 / 1;
}

.scroll {
  /* TODO    */
  overflow-y: scroll;
}
